---
import "@fontsource/roboto";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Nanas Sound">
  <div class="container-fluid pb-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="display-4 text-center my-5">Our story: Nanas Sound</h1>
        <p class="fs-4">
          <b>Nanas Sound</b> began in 2021 as a passionate music project by Asep Bagja, a software engineer and electronic music enthusiast, in Tallinn, Estonia. Originally, Asep started Nanas Sound to release his own music, which you can now enjoy on
          <a
            href="https://music.youtube.com/channel/UC8C4fWKZJvALsC_9I0M5kFg?si=G4kNmx5pyZQO4CTo"
            target="_blank">YouTube Music</a
          >, <a href="https://www.youtube.com/@bepitulaz" target="_blank"
            >YouTube</a
          >, <a
            href="https://open.spotify.com/artist/3ZluC2z0z35Pdv8Aky7qMx?si=zXISVL_HRmyMgxuAoYnzeg"
            target="_blank">Spotify</a
          >, and <a
            href="https://music.apple.com/ee/artist/asep-bagja/1650464458"
            target="_blank">Apple Music</a
          >.
        </p>
        <p class="fs-4">
          Driven by a fascination with modular synthesizers, Asep expanded Nanas Sound beyond music production. He began designing and building Eurorack modules, transforming his hobby into a brand. Today, Nanas Sound proudly offers DIY Eurorack modules and 3D-printed synth parts for fellow enthusiasts and creators.
        </p>
        <p class="fs-4">For any inquiries, feel free to reach out to Asep at <a href="mailto:asep@nanassound.com">asep@nanassound.com</a>. Join us on this creative journey and explore the endless possibilities of sound.</p>
        <h3 class="my-5">Team...it's only him for now 🙂</h3>
        <div class="d-flex">
          <img class="avatar" src="/img/avatar.jpg" alt="Asep Bagja" />
          <div>
            <h5 class="display-6">Asep Bagja</h5>
            <p class="fs-4">
              Chief Everything Officer.<br />I do everything from designing, coding, soldering, testing, and shipping.<br />I also do music production and release my music under my name.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .avatar {
    width: 80;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
  }
</style>
