---
import "@fontsource/roboto";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nanas Sound">
  <main class="container">
    <!-- Hero -->
    <div class="row my-3">
      <div class="col-lg-8 offset-lg-2">
        <img class="img-fluid rounded" src="/img/hero-3.jpg" alt="Nanas Sound hero image" />
      </div>
    </div>
    <!-- end of hero -->

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p><b>Nanas Sound</b> is an independent record label based in Tallinn, Estonia. As of now, we are 'not a true' record label 🙂. What does it mean? It's a vehicle to release only <b>Asep Bagja</b>'s music works. We don't have any plan to release other artists on this label.</p>
        <p>Streaming platforms: <a href="https://fairmusapp.page.link/rBrYaoYfokjm1pkE9" target="_blank">Fairmus</a> | <a href="https://music.youtube.com/channel/UC8C4fWKZJvALsC_9I0M5kFg?si=G4kNmx5pyZQO4CTo" target="_blank">YouTube Music</a> | <a href="https://www.youtube.com/@bepitulaz" target="_blank">YouTube</a> | <a href="https://open.spotify.com/artist/3ZluC2z0z35Pdv8Aky7qMx?si=zXISVL_HRmyMgxuAoYnzeg" target="_blank">Spotify</a> | <a href="https://music.apple.com/ee/artist/asep-bagja/1650464458" target="_blank">Apple Music</a></p>
        <h3 class="mt-5 mb-3">Artist</h3>
        <div class="d-flex">
          <img class="avatar" src="/img/avatar.jpg" alt="Asep Bagja" />
          <div>
            <h5>Asep Bagja</h5>
            <p>Label founder, electronic musician, <br />composer, and software engineer.</p>
          </div>
        </div>
        <h3 class="mt-5 mb-3">Contact</h3>
        <p>Email to <a href="mailto:asep@nanassound.com">asep@nanassound.com</a></p>
      </div>
    </div>
    
  </main>
</Layout>

<style>
  .avatar {
    width: 80;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
  }
</style>
