---
import "@fontsource/roboto";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nanas Sound | Synthesizers and Eurorack modules">
  <!-- Hero Section -->
  <div class="relative">
    <div class="h-[30rem] md:h-[calc(100vh-64px)] flex flex-col from-gray-900 via-gray-800 to-gray-900 bg-[url('/products-img/airbending-hero-1@2x.webp')] bg-cover bg-center bg-no-repeat bg-blend-overlay">
      <div class="absolute inset-0 bg-gradient-to-t from-black/50 via-transparent to-transparent"></div>
      <div class="relative z-10 flex items-center h-full px-4 py-4 md:px-8 md:py-6">
        <div class="max-w-5xl mx-auto w-full md:mx-0 md:max-w-none">
          <div class="text-center md:text-left md:w-1/2 bg-black/40 p-6 md:p-8 rounded-xl">
            <h1 class="block font-bold text-4xl md:text-6xl text-white mb-4">
              <span class="text-white">AirBending</span>
            </h1>
            <p class="block text-white text-xl md:text-2xl mb-6 opacity-90">
              Transform music creation with intuitive gesture-based MIDI control.
            </p>
            <div class="flex flex-col md:flex-row items-center md:items-start gap-4 mb-8">
              <a class="w-full max-w-xs md:w-auto hover:opacity-80 transition-opacity focus:outline-none focus:opacity-80" href="https://apps.apple.com/us/app/airbending-midi-controller/id6748079429?mt=12&itscg=30200&itsct=apps_box_link&mttnsubad=6748079429">
                <img src="/img/mac_app_store_badge.svg" alt="Download on the Mac App Store" class="w-full md:w-auto h-12 object-contain">
              </a>
              <a class="w-full max-w-xs md:w-auto h-12 px-6 inline-flex items-center justify-center gap-x-2 text-lg font-medium rounded-xl focus:outline-none focus:bg-white/10 transition-all bg-yellow-400  hover:bg-yellow-500" href="/products/softwares/airbending">
                Discover
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Products -->
  <div class="grid grid-cols-1 gap-4 px-4 md:grid-cols-2 lg:px-8 py-10">
    <!-- midiMESH -->
    <div class="bg-neutral-50 p-5">
      <div class="mt-auto ps-5 py-5 md:ps-10 md:py-10">
        <span class="block font-bold text-xl md:text-3xl text-dark-800 text-center">midiMESH</span>
        <span class="block text-dark text-lg md:text-xl text-center">Wireless Modular MIDI Controllers (Work In Progress)</span>
        <div class="mt-5 flex gap-x-2 justify-center">
          <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" href="/products/midimesh">
            Discover
          </a>
        </div>
      </div>
      <img src="/products-img/midimesh-home.webp" alt="midiMESH - Wireless Modular MIDI Controllers" class="w-auto h-auto mx-auto rounded-xl">
    </div>

    <!-- Mini -->
    <div class="bg-neutral-50 p-5">
      <div class="mt-auto ps-5 py-5 md:ps-10 md:py-10">
        <span class="block font-bold text-xl md:text-3xl text-dark-800 text-center">Mini</span>
        <span class="block text-dark text-lg md:text-xl text-center">USB-C Eurorack Power Supply</span>
        <div class="mt-5 flex gap-x-2 justify-center">
          <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" href="/products/eurorack-modules/mini">
            Discover
          </a>
          <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm text-dark font-medium rounded-xl border border-yellow-400 hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none plausible-event-name=Buy+now+Mini" href="https://reverb.com/en-ee/item/92160894-nanas-sound-mini-usb-c-power-supply" target="_blank">
            68.2€ (VAT incl) Buy now
          </a>
        </div>
      </div>
      <img src="/products-img/mini-main.webp" alt="Mini - Power Supply" class="w-auto h-auto mx-auto rounded-xl">
    </div>

    <!-- Play-a-Synth -->
    <div class="bg-neutral-50 p-5">
      <div class="mt-auto ps-5 py-5 md:ps-10 md:py-10">
        <span class="block font-bold text-xl md:text-3xl text-dark-800 text-center">Play-a-Synth</span>
        <span class="block text-dark text-lg md:text-xl text-center">Play hardware synthesizers remotely</span>
        <div class="mt-5 flex gap-x-2 justify-center">
          <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" href="https://playasynth.com" target="_blank">
            Discover
          </a>
        </div>
      </div>
      <img src="/products-img/playasynth-main.webp" alt="Play-a-Synth" class="w-auto h-auto mx-auto rounded-xl">
    </div>

    <!-- 3D printed case -->
    <div class="bg-neutral-50 p-5">
      <div class="mt-auto ps-5 py-5 md:ps-10 md:py-10">
        <span class="block font-bold text-xl md:text-3xl text-dark-800 text-center">3D printed 84HP case</span>
        <span class="block text-dark text-lg md:text-xl text-center">Fit for any 84HP Eurorack rails</span>
        <div class="mt-5 flex gap-x-2 justify-center">
          <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" href="https://cults3d.com/en/3d-model/tool/eurorack-case-84hp-rails-are-still-needed-nanassound" target="_blank">
            Discover
          </a>
        </div>
      </div>
      <img src="/products-img/printthiscase@2x.webp" alt="84HP Eurorack case" class="w-auto h-auto mx-auto rounded-xl">
    </div>
  </div>
  <!-- End Products -->

  <!-- Mission Statement -->
  <div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-yellow-200">
    <!-- Title -->
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl lg:text-5xl text-dark-800 font-light">
        Play electronic music instruments anywhere.
      </h2>
    </div>
    <!-- End Title -->
  </div>
  <!-- End Mission Statement -->


</Layout>
