---
import "@fontsource/roboto";
import Layout from "../../../../layouts/Layout.astro";
import EurorackProductPageNav from "../../../../components/EurorackProductPageNav.astro";
---

<Layout title="The schematic of Mini | Nanas Sound">
  <!-- Hero -->
  <div class="lg:px-6 pt-4">
    <div class="h-[30rem] md:h-[calc(100vh-106px)] flex flex-col bg-[url('/products-img/mini-main.webp')] bg-cover bg-center bg-no-repeat">
      <div class="mt-auto bg-gradient-to-t from-black/80 via-black/50 to-black/0 ps-5 py-5 md:ps-10 md:py-10">
        <h1 class="block font-bold text-3xl md:text-5xl text-yellow-400 text-center">Mini</h1>
        <p class="block text-white text-xl md:text-3xl text-center">
          USB-C power supply
        </p>
      </div>
    </div>
  </div>
  <!-- End hero -->
  
  <EurorackProductPageNav productName="mini" buyLink={"https://lectronz.com/products/mini-eurorack-usb-c-power-supply"} />

  <!-- Content -->
  <div class="px-4 py-10 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-10">
        Discover Mini&apos;s inner workings
      </h2>

      <div class="space-y-8">
        <p class="text-lg md:text-xl">
          Understand how each component works together to ensure flawless operation.
        </p>

        <p class="text-lg md:text-xl">
          Free to adapt and use this schematic in your projects under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" 
             target="_blank" 
             rel="noreferrer noopener"
             class="text-yellow-600 hover:text-yellow-800">CC BY-SA 4.0</a> license, 
          you're free to adapt and use this schematic in your own projects. Get inspired and bring your creative ideas to life!
        </p>

        <iframe
          src="/schematics/Schematic_Mini_V2.pdf"
          class="w-full h-[610px] border-none"
          title="Mini schematic PDF"
        />

        <p class="text-lg md:text-xl">
          Download the schematic as a PDF file: 
          <a href="/schematics/Schematic_Mini_V2.pdf" 
             target="_blank" 
             rel="noreferrer noopener"
             class="text-yellow-600 hover:text-yellow-800">
            Mini schematic
          </a>
        </p>
      </div>
    </div>
  </div>
  <!-- End Content -->
</Layout>