<article>
  <h2 class="is-size-4 has-text-weight-semibold">About</h2>
  <article class="mt-3">
    <figure class="image is-96x96 ml-4 mb-3">
      <img src="/img/avatar.jpg" alt="Asep Bagja photo" class="is-rounded" />
    </figure>
    <p>
      My name is Asep Bagja, and I'm an electronic music producer based in Tallinn, Estonia. I write mostly
      ambience and minimal music. My focus is producing music for the film,
      video games, and other media.
    </p>
  </article>
</article>

<style>
  figure {
    float: right;
  }
</style>
