<!-- Features -->
<div class="px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-lime-200">
  <!-- Grid -->
  <div class="lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
    <div class="mt-5 sm:mt-10 lg:mt-0 lg:col-span-5">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2 class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-neutral-200">
            What is Nanas Sound?
          </h2>
          <p class="text-lg text-gray-800 dark:text-neutral-500">
            Nanas Sound is a company owned by Asep Bagja, a software engineer based in Tallinn, Estonia. Our mission is to make electronic music instruments that can be played anywhere, anytime.
          </p>
          <p class="text-lg text-gray-800 dark:text-neutral-500">
            We ❤️ open-source software and hardware.
          </p>
        </div>
        <!-- End Title -->

        <a href="/about" class="py-2 px-3 inline-flex items-center gap-x-2 text-lg text-dark font-medium rounded-xl border-2 border-yellow-400 hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none">
          Meet the team
        </a>
      </div>
    </div>
    <!-- End Col -->

    <div class="lg:col-span-7">
      <!-- Grid -->
      <div class="grid grid-cols-12 gap-2 sm:gap-6 items-center lg:-translate-x-10">
        <div class="col-span-7">
          <img class="rounded-xl" src="/img/asep-bagja.jpg" alt="Asep Bagja">
        </div>
        <!-- End Col -->

        <div class="col-span-5">
          <img class="rounded-xl" src="/img/development.jpg" alt="Development picture">
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->