---
const { text } = Astro.props;
---
<div class="bg-red-300 p-4 lg:mx-6 rounded-b-lg text-center">
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
    <p class="me-2 inline-block text-sm text-gray-800">
      {text}
    </p>
  </div>
</div>