---
const currentYear = new Date().getFullYear();
---
<footer class="row mt-5">
  <div class="col">
    <p class="text-center py-3">
      &copy; 2020-{currentYear}
      <a
        href="https://ariregister.rik.ee/est/company/16028176/Nanas-Sound-OÜ"
        target="_blank"
        rel="noopener noreferrer">Nanas Sound OÜ</a
      >
    </p>
  </div>
</footer>
