---
const currentYear = new Date().getFullYear();
---

<footer class="container-fluid bg-dark text-bg-dark py-4">
  <div class="row">
    <div class="col">
      <p class="text-center">
        &copy; 2021-{currentYear}
        <a
          class="text-white"
          href="https://ariregister.rik.ee/est/company/16028176/Nanas-Sound-OÜ"
          target="_blank"
          rel="noopener noreferrer">Nanas Sound OÜ</a
        >
      </p>
    </div>
  </div>
</footer>
