<footer class="footer">
  <div class="content has-text-centered">
    <p>
      &copy; 2022 <a
        href="https://ariregister.rik.ee/est/company/16028176/Nanas-Sound-OÜ?active_tab=register"
        target="_blank"
        rel="noopener noreferrer">Nanas Sound OÜ</a
      >
    </p>
  </div>
</footer>

<style>
  .footer {
    padding-bottom: 3rem;
  }
</style>
