<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
          src="/img/logo.png"
          width="28"
          height="28"
          alt="Nanas Sound logo"
        />
        Nanas Sound
      </a>
    </div>
  </div>
</nav>

<style>
	a.navbar-item {
		color: #201a1a;
	}

	a.navbar-item:hover {
		color: #fdd100;
	}
</style>
