---
import "@fontsource/roboto";
import Layout from "../../../../layouts/Layout.astro";
import EurorackProductPageNav from "../../../../components/EurorackProductPageNav.astro";
import AttentionBanner from "../../../../components/AttentionBanner.astro";
---

<Layout title="The schematic of Uksed | Nanas Sound">
  <!-- Hero -->
  <div class="lg:px-6 pt-4">
    <div class="h-[30rem] md:h-[calc(100vh-106px)] flex flex-col bg-[url('/products-img/uksed-product-page.webp')] bg-cover bg-center bg-no-repeat">
      <div class="mt-auto bg-gradient-to-t from-black/80 via-black/50 to-black/0 ps-5 py-5 md:ps-10 md:py-10">
        <h1 class="block font-bold text-3xl md:text-5xl text-yellow-400 text-center">Uksed</h1>
        <p class="block text-white text-xl md:text-3xl text-center">
          4-channels audio input module
        </p>
      </div>
    </div>
  </div>
  <!-- End hero -->

  <AttentionBanner text="We are redesigning the schematic of Uksed. The new version will be available soon." />

  <EurorackProductPageNav productName="uksed" />

  <!-- Content -->
  <div class="px-4 py-10 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-10">
        Bill of materials for Uksed
      </h2>

      <div class="space-y-8">
        <p class="text-lg md:text-xl">
          Ready to build your own Uksed? Our comprehensive Bill of Materials (BOM) provides a detailed list of all needed components. Each part is listed to ensure you have everything required for a successful build. Use this BOM as your shopping guide to source the exact components and bring your Uksed to life.
        </p>

        <div class="overflow-x-auto">
          <table class="w-full text-left border-collapse">
            <caption class="text-sm text-gray-600 text-left mb-2">
              <span class="text-red-500">*)</span> You don't have to buy from these stores, as long as you can find the equivalent component.
            </caption>
            <thead>
              <tr class="border-b border-gray-200">
                <th class="py-3 px-4 font-semibold">Reference</th>
                <th class="py-3 px-4 font-semibold">Value</th>
                <th class="py-3 px-4 font-semibold">Quantity</th>
                <th class="py-3 px-4 font-semibold">Where to buy</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">C1, C2, C3, C4</td>
                <td class="py-3 px-4">33pF (ceramic capacitor)</td>
                <td class="py-3 px-4">4</td>
                <td class="py-3 px-4">
                  <a href="https://eu.mouser.com/ProductDetail/Murata-Electronics/RCE5C2J330J1K1H03B" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Mouser Europe</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">J1, J2, J3, J4, J5, J6, J7, J8</td>
                <td class="py-3 px-4">Thonkiconn Mono 3.5mm WQP518MA</td>
                <td class="py-3 px-4">8</td>
                <td class="py-3 px-4">
                  <a href="https://www.thonk.co.uk/shop/thonkiconn/" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Thonk</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">J9</td>
                <td class="py-3 px-4">Eurorack 16pin Power Headers - Shrouded</td>
                <td class="py-3 px-4">1</td>
                <td class="py-3 px-4">
                  <a href="https://www.thonk.co.uk/shop/eurorack-diy-essentials/" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Thonk</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">R1, R2, R3, R4</td>
                <td class="py-3 px-4">10K (resistor 1/4W)</td>
                <td class="py-3 px-4">4</td>
                <td class="py-3 px-4">
                  <a href="https://eu.mouser.com/ProductDetail/SparkFun/PRT-14491" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Mouser Europe</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">R5, R6, R7, R8</td>
                <td class="py-3 px-4">1K (resistor 1/4W)</td>
                <td class="py-3 px-4">4</td>
                <td class="py-3 px-4">
                  <a href="https://eu.mouser.com/ProductDetail/SparkFun/PRT-14492" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Mouser Europe</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">RV1, RV2, RV3, RV4</td>
                <td class="py-3 px-4">B100K (Alpha 9mm pots vertical)</td>
                <td class="py-3 px-4">4</td>
                <td class="py-3 px-4">
                  <a href="https://www.thonk.co.uk/shop/alpha-9mm-pots-vertical-t18/" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Thonk</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
              <tr class="hover:bg-gray-50">
                <td class="py-3 px-4">U1</td>
                <td class="py-3 px-4">TL074</td>
                <td class="py-3 px-4">1</td>
                <td class="py-3 px-4">
                  <a href="https://www.thonk.co.uk/shop/eurorack-diy-essentials/" 
                     target="_blank"
                     class="text-blue-600 hover:text-blue-800">Thonk</a>
                  <span class="text-red-500">*</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- End Content -->
</Layout>
