---
import "@fontsource/roboto";
import Layout from "../../../../layouts/Layout.astro";
import EurorackProductPageNav from "../../../../components/EurorackProductPageNav.astro";
import AttentionBanner from "../../../../components/AttentionBanner.astro";
---

<Layout title="Uksed - 2 channels audio I/O | Nanas Sound">
  <!-- Hero -->
  <div class="lg:px-6 pt-4">
    <div class="h-[30rem] md:h-[calc(100vh-106px)] flex flex-col bg-[url('/products-img/uksed-product-page.webp')] bg-cover bg-center bg-no-repeat">
      <div class="mt-auto bg-gradient-to-t from-black/80 via-black/50 to-black/0 ps-5 py-5 md:ps-10 md:py-10">
        <h1 class="block font-bold text-3xl md:text-5xl text-yellow-400 text-center">Uksed</h1>
        <p class="block text-white text-xl md:text-3xl text-center">
          2 channels audio input module
        </p>
      </div>
    </div>
  </div>
  <!-- End hero -->

  <EurorackProductPageNav productName="uksed" />

  <!-- Content -->
  <div class="px-4 py-10 sm:px-6 lg:px-8 mx-auto">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold text-center mb-10">
        Bring external audio to your Eurorack system
      </h2>

      <div class="space-y-8">
        <p class="text-lg md:text-xl">
          Meet Uksed: the 2-channel input module that lets you integrate guitars, synths, samplers, or any audio source directly into your Eurorack system. No more level-matching headaches—just plug in, amplify, and start sculpting sounds.
        </p>

        <h3 class="text-2xl md:text-3xl font-bold">Why Eurorack needs a translator</h3>
        <div class="space-y-4 text-lg md:text-xl">
          <p>
            Most synths, drum machines, or music players send signals too quiet for Eurorack’s hungry (-5V to +5V) circuitry. Guitars or basses? Even quieter—we’re talking millivolts. Uksed solves this. It boosts any external audio to Eurorack-ready levels, so you can process, layer, or warp it with your favorite modules.
          </p>
        </div>

        <h3 class="text-2xl md:text-3xl font-bold">Technical specifications</h3>
        <ul class="list-disc list-inside space-y-2 text-lg md:text-xl">
          <li>Width: 6 HP</li>
          <li>Depth: 24mm (including power connector)</li>
          <li>Power consumption +12V → 0.5mA, -12V → 0.5mA (Need checking)</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Content -->
</Layout>
